a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
}

div {
    display: block;
}

section {
    display: block;
}

h1, h2 {
    display: block;
    color: #2d2d2d;
    font-family: "Roboto Condensed",sans-serif;
    line-height: 1.3;
}
h1 {
    font-size: 28px;
    
}


body, hr {
    color: #2d2d2d;
}

body {
    height: 100%;
    min-height: 100%;
    background: #fff;
    font-family: "Roboto Condensed" ,sans-serif;
}

body {
    color: #000;
    line-height: 1;
}

body {
    display: block;
    
}

h2 {
    font-size: 25px;
    
}


.wrap {
    min-height: calc(100vh - 35px);
}

.b-top-phone {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 25px;
    background: #2d2d2d;
}

.row {
    display: block;
    float: none;
    width: auto;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.b-top-official__text, .b-top-phone__text {
    padding-top: 4px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.b-top-phone__text {
    float: right;
}

.b-top-phone__link {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}

.b-top-official__text, .b-top-phone__text {
    padding-top: 4px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.row:after {
    display: table;
    clear: both;
    content: "";
}

.container-menu {
    box-sizing: border-box;
}

.b-navigation {
    position: fixed;
    z-index: 999;
    top: 25px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}

.b-navigation__items {
    display: block;
    float: none;
    width: auto;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.b-navigation__logo {
    display: block;
    float: left;
    width: 180px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 0;
    color: #000;
    font-family: Roboto Condensed,sans-serif;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
}

a img {
    border: none;
}

ol, ul {
    list-style: none;
}

.b-navigation__li-block {
    display: inline-block;
}

.b-navigation__link {
    display: block;
    margin: 0;
    padding: 23px 10px;
    color: #000;
    border-bottom: .3rem solid #fff;
    font-family: Roboto Condensed,sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.b-navigation__items:after {
    display: table;
    clear: both;
    content: "";
}

.b-navigation__mobile-menu {
    display: none;
}

.b-navigation__mobile-menu-logo {
    float: right;
    height: 41px;
    margin: 0 auto;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
}

nav {
    display: block;
}

.b-navigation__menutoggle {
    position: relative;
    z-index: 1;
    top: 16px;
    left: 16px;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.b-navigation__menutoggle input {
    position: absolute;
    z-index: 2;
    display: -webkit-box;
    display: flex;
    width: 40px;
    height: 32px;
    opacity: 0;
    cursor: pointer;
}
user agent stylesheet
input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
user agent stylesheet
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.b-navigation__menutoggle span {
    position: relative;
    z-index: 1;
    display: block;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    border-radius: 3px;
    background: #2d2d2d;
    -webkit-transform-origin: 5px 0;
    transform-origin: 5px 0;
    -webkit-transition: background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease,-webkit-transform .5s cubic-bezier(.77,.2,.05,1);
    transition: background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease,-webkit-transform .5s cubic-bezier(.77,.2,.05,1);
    transition: transform .5s cubic-bezier(.77,.2,.05,1),background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease;
    transition: transform .5s cubic-bezier(.77,.2,.05,1),background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease,-webkit-transform .5s cubic-bezier(.77,.2,.05,1);
}

.b-navigation__menu {
    position: absolute;
    width: 250px;
    height: 100vh;
    margin: -50px 0 0 -50px;
    padding: 70px 50px 50px;
    background-color: #f5f6fa;
    box-shadow: 0 0 10px #85888c;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.77,.2,.05,1);
    transition: -webkit-transform .5s cubic-bezier(.77,.2,.05,1);
    transition: transform .5s cubic-bezier(.77,.2,.05,1);
    transition: transform .5s cubic-bezier(.77,.2,.05,1),-webkit-transform .5s cubic-bezier(.77,.2,.05,1);
}

.b-navigation__menutoggle span:nth-last-child(2) {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.b-navigation__menu li {
    padding: 10px 0 5px;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
}

.b-navigation__menu li a {
    color: #2d2d2d;
    font-size: 20px;
    text-decoration: none;
}

.container-menu:after {
    display: table;
    clear: both;
    content: "";
}

.container-menu {
    box-sizing: border-box;
}

.b-navigation__link:hover {
    border-bottom: .3rem solid #e81f32;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

.container-slider-category {
    box-sizing: border-box;
}

.b-img-section {
    position: relative;
    margin-top: 80px;
}

.b-img-section__text {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 3%;
    display: block;
    float: none;
    width: auto;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    border-left: 5px solid #e81f32;
}
.b-img-section__text h1 {
    padding-left: 20px;
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
}


.b-img-section__text:after {
    display: table;
    clear: both;
    content: "";
}

.b-img-section__image img {
    width: 100%;
}

.b-menu {
    display: block;
    float: none;
    box-sizing: border-box;
    width: auto;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
}

.b-block-menu {
    position: relative;
    z-index: 3;
    float: left;
    clear: none;
    width: 19.919999999999998%;
    width: 18%;
    height: 100px;
    margin-right: 0;
    margin-left: 1.6%;
    border-radius: 5px;
    background: #2d2d2d;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    text-align: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
}

.b-block-menu__items {
    margin-top: 35px;
}

.b-block-menu__img {
    display: table-cell;
    margin-top: 20px;
}

.b-block-menu__img img {
    width: 40px;
    height: 35px;
    margin: 0 6px 0 8px;
    vertical-align: baseline;
}

.b-block-menu__a-link {
    display: table-cell;
    margin: 0 auto;
    color: #fff;
    vertical-align: middle;
}

.b-block-menu__a-link span {
    font-size: 16px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.b-block-menu:after {
    display: table;
    clear: both;
    content: "";
}

.b-block-menu:last-child {
    margin-right: 0;
}

.b-mobile-catalog {
    display: block;
    float: none;
    width: auto;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.b-mobile-catalog__catalog-link {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 10px;
    padding: 8px 12px;
    color: #fff;
    border-radius: 10px;
    background: #2d2d2d;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    font-size: 14px;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.b-mobile-catalog-anoth {
    display: block;
    float: none;
    width: auto;
    max-width: 1023px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.b-mobile-catalog-anoth__catalog-link-anoth {
    float: left;
    clear: none;
    width: 17.6%;
    width: 16%;
    height: 60px;
    margin-right: 0;
    margin-left: 2%;
    padding: 3px;
    color: #fff;
    border-radius: 5px;
    background: #2d2d2d;
    font-size: 10px;
    text-align: inherit;
    text-align: center;
    text-decoration: none;
}

.b-mobile-catalog-anoth__catalog-link-anoth img {
    display: block;
    width: 30px;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 5px;
}
a img {
    border: none;
}

.container-slider-category:after {
    display: table;
    clear: both;
    content: "";
}


.b-service-book__link {
    display: block;
    
    text-decoration: none;
    
    max-width: 946px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
    text-align: center;
    background-color: #E81F32;
    margin-top: 20px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 11px;;
}

.b-service-book__link span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 32px;
    color: white; 
}

.row {
    display: block;
    float: none;
    width: auto;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.b-breadcrumbs__items {
    padding: 25px 0;
    list-style: none;
}

.b-breadcrumbs__items li {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Roboto Condensed",sans-serif;
}

.b-breadcrumbs__items li+li:before {
    padding: 0 20px;
    color: #2d2d2d;
    font-size: 16px;
    content: "|";
}
.b-breadcrumbs__items a {
    color: #2d2d2d;
    text-decoration: underline;
}
.b-breadcrumbs:after {
    display: table;
    clear: both;
    content: "";
}

.b-main {
    display: block;
    float: none;
    width: auto;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.b-main__general-text {
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    
}
.b-main__general-text span {
    font-weight: bold;
}

.b-main__item-image {
    
    text-align: center;
    display: block;
    max-width: 100%;
    height: auto;
}

.b-main-section-1, .b-main-section-1__banner {
    position: relative;
}

.b-main-section-1__information img {
    position: relative;
    width: 100%;
    
    -webkit-filter: contrast(80%);
    filter: contrast(80%);
}

.b-main-section-1__caption {
    display: block;
    float: none;
    width: auto;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.b-main-section-1__text:last-child {
    margin-right: 0;
}

.b-main-section-1__text {
    position: absolute;
    z-index: 3;
    top: 10%;
    float: left;
    clear: none;
    width: 48.5%;
    margin-right: 3%;
    margin-left: 0;
    text-align: inherit;
}

.b-main-section-1__text h2 {
    display: block;
    padding: 30px 20px 0 10px;
    color: #fff;
    font-weight: 700;
    font-size: 3.5vw;
    line-height: 3vw;
}

.b-main-section-1__spisok {
    padding-top: 1vw;
    padding-left: 15px;
}

.b-main-section-1__spisok ul {
    border-left: 9px solid #e81f32;
    margin-bottom: 50px;
}

.b-main-section-1__spisok ul li {
    padding: 10px 0 10px 10px;
    color: #fff;
    font-family: "Roboto Condensed" ,sans-serif;
    font-size: 2.5vw;
    line-height: 2;
}

.b-main-section-1__text:after {
    display: table;
    clear: both;
    content: "";
}
.b-main-section-1__caption:after {
    display: table;
    clear: both;
    content: "";
}

.b-main-section-1__icon a {
 text-decoration: none;
 padding-left: 5%;
}

.b-main-section-2 {
    display: block;
    float: none;
    width: auto;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.b-main-section-2__information-section-2 {
    float: left;
    clear: none;
    width: 48.5%;
    margin-right: 3%;
    margin-left: 0;
    text-align: inherit;
}

.b-main-section-2__information-section-2:after {
    display: table;
    clear: both;
    content: "";
}

.b-main-section-2__information-section-2:last-child {
    margin-right: 0;
}

.b-main-section-2__information-section-2 {
    float: left;
    clear: none;
    width: 48.5%;
    margin-right: 3%;
    margin-left: 0;
    text-align: inherit;
}
.b-main-section-2__information-section-2 a img {
    width: 100%;
}
.b-main-section-2__information-section-2 h2 {
    padding-top: 30px;
    padding-right: 20px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: left;
    font-size: 3em;
}

.b-main-section-2__line {
    width: 50%;
    padding-top: 18px;
    
}

.b-main-section-2_spisok {
    padding-top: 25px;
}

.b-main-section-2__spisok ul {
    border-left: 9px solid #e81f32;
}

.b-main-section-2__spisok ul li {
    padding: 10px 0 0 10px;
    font-family: "Roboto Condensed" ,sans-serif;
    font-size: 2.5em;
    line-height: 2;
}
.b-main-section-2__information-section-2:after {
    display: table;
    clear: both;
    content: "";
}
.b-main-section-2:after {
    display: table;
    clear: both;
    content: "";
}
@media only screen and (min-width: 375px) {
.b-mobile-catalog {
    display: none;}
}

@media only screen and (min-width: 644px) {
.b-mobile-catalog-anoth {
    display: none;}
}
